
<form [formGroup]="novaEntregaForm" (ngSubmit)="onSubmitEntregaForm()" #form="ngForm">

  <div class="form-group flex justify-content-center align-content-center text-align-center">
    <input type="text"
    id="nome"
    placeholder="Nome"
    formControlName="nome"
    />
    <div *ngIf="novaEntregaForm.get('nome')?.hasError('required') && novaEntregaForm.get('nome')?.touched">
      <p class="error-message">Preencha o nome.</p>
    </div>
    <div *ngIf="novaEntregaForm.get('nome').hasError('apenasLetras') && novaEntregaForm.get('nome').touched">
      <p class="error-message">Somente letras são permitidas no nome.</p>
    </div>
  </div>
  <!--optei por usar a mascara do tipo string apenas para validar se os dígitos são numéricos e mostrar na tela a validação
    se o mask fosse to tipo numerico, não permmite escrever na tela os dígitos do tipo string
  -->
  <div class="form-group flex justify-content-center align-content-center text-align-center">
    <input type="text"
    id="cpf"
    placeholder="CPF"
    formControlName="cpf"
    mask="AAA.AAA.AAA-AA"
    />

    <div *ngIf="novaEntregaForm.get('cpf')?.hasError('required') && novaEntregaForm.get('cpf')?.touched">
      <p class="error-message">Preencha o CPF.</p>
    </div>
    <div *ngIf="novaEntregaForm.get('cpf').hasError('apenasNumeros') && novaEntregaForm.get('cpf').touched">
      <p class="error-message">Somente números são permitidas no CPF.</p>
    </div>

  </div>
  <div class="form-group flex justify-content-center align-content-center text-align-center">
    <input type="text"
    placeholder="Endereco"
    formControlName="endereco"
    class="validate"
    />
    <div *ngIf="novaEntregaForm.get('endereco')?.hasError('required') && novaEntregaForm.get('endereco')?.touched">
      <p class="error-message">Preencha o Endereco.</p>
    </div>
  </div>
  <div class="form-group flex justify-content-center align-content-center text-align-center">
    <input type="tel"
    placeholder="Telefone"
    formControlName="telefone"
    class="validate"
    mask="(00) 00000-0000"
    >
    <div *ngIf="novaEntregaForm.get('telefone')?.hasError('required') && novaEntregaForm.get('telefone')?.touched">
      <p class="error-message">Preencha o telefone.</p>
    </div>
  </div>

  <div class="form-group flex justify-content-center align-content-center text-align-center">
    <input type="text"
    placeholder="Produto"
    formControlName="produto"
    class="validate"
    >
    <div *ngIf="novaEntregaForm.get('produto')?.hasError('required') && novaEntregaForm.get('produto')?.touched">
      <p class="error-message">Preencha o produto.</p>
    </div>
  </div>

  <div class="form-group flex justify-content-center align-content-center text-align-center">
    <input type="number"
    placeholder="Quantidade"
    formControlName="quantidade"
    class="validate"
    >
    <div *ngIf="novaEntregaForm.get('quantidade')?.hasError('required') && novaEntregaForm.get('quantidade')?.touched">
      <p class="error-message">Preencha a quantidade.</p>
    </div>
  </div>

  <div class="form-group flex justify-content-center align-content-center text-align-center">
    <input type="text"
    placeholder="Observações"
    formControlName="observacao"

    >
  </div>

  <div>
    <button type="submit" [disabled]="!this.novaEntregaForm.valid">Salvar</button>
  </div>

</form>
<!--div>Debug: {{ novaEntregaForm.get('nome')?.value | json }} - {{ novaEntregaForm.get('nome')?.status }}</div-->
<!--div>Debug: {{ novaEntregaForm.get('cpf')?.value | json }} - {{ novaEntregaForm.get('cpf')?.status }}</div-->
<!--{{ novaEntregaForm.value | json }}-->
